# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python virtual environment
venv/
.venv/
env/
palm-api/venv/

# build caches
nextjs-app/.next/
nextjs-app/node_modules/

# WiFi Driver (too large for deployment)
rtl88x2BU_WiFi_linux_v5.2.4.4_25643.20171212_COEX20171012-5044/
