services:
  - type: web
    name: tesouai-premium
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_BASE_URL
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: STRIPE_PREMIUM_PRICE_ID
        sync: false
      - key: STRIPE_ONETIME_PRICE_ID
        sync: false
